{% extends 'base.html.twig' %}

{% block title %}Trivia Quiz{% endblock %}

{% block body %}
<div class="text-center text-white mt-5 h-100" style="position:relative;">
<h3 class="display-4">Welcome to trivia quiz!</h3>
<h4 class="display-5 mt-5 mb-3">Choose playmode:</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item mb-3">
        <a class="options" href="{{path('new')}}">
            <h3 class="display-5 m-0">Custom game</h3>
        </a>
    </li>    
    <li class="list-group-item">
        <a class="options" href="{{path('quick_game')}}">
            <h3 class="display-5 m-0">Quick game</h3>
        </a>
    </li>
</ul>
</div>
{% endblock %}
