@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@keyframes wiggle {
    0% { transform: rotate(1deg); }
    5% { transform: rotate(-1deg); }
    10% { transform: rotate(1deg)}
    15% { transform: rotate(-2deg)}
    20% { transform: rotate(2deg); }
    25% { transform: rotate(3deg); }
    30% { transform: rotate(-3deg); }
    35% { transform: rotate(4deg); }
    40% { transform: rotate(-4deg); }
    45% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    55% { transform: rotate(6deg); }
    60% { transform: rotate(-5deg); }
    65% { transform: rotate(5deg); }
    70% { transform: rotate(-4deg); }
    75% { transform: rotate(4deg); }
    80% { transform: rotate(-3deg); }
    85% { transform: rotate(3deg); }
    90% { transform: rotate(-2deg); }  
    95% { transform: rotate(2deg); }
    100% { transform: rotate(-1deg); }
}

html, body {
    font-family: 'Kumbh Sans', sans-serif !important;
    height: 100%;
    width: 100%;
}
h1, h2, h3, h4 {
    text-shadow: 1px 3px 1px rgba(150, 150, 150, 0.678);
}
a {
    text-decoration: none !important;
}
.border-ridge {
    border: 6px ridge white !important; 
}
.green {
    color:  #a3ff6e;
}
body, li {
    background-color: #333333 !important;
    color: white;
}
.wiggling {
    display: inline-block;
    animation: wiggle 6s infinite;
}

.list-group-item {
    border: 0px solid rgba(0,0,0,.125)!important;
}

.list-group-item:hover {
    background-color:  white !important;
    color: #333333;
    border-radius: 5px;
}

input[type=checkbox] {
    width: 25px; 
    height: 25px;
}
.animated-font-left, 
.animated-font-right,
.animated-font-center {
    font-size: 3em !important;
}

.animated-font-right:hover {
    color:  #a3ff6e;
}

.animated-font-left:hover {
    color:  #f78234;
}

.animated-font-right {
    animation: right 2s linear infinite;
}

@keyframes right {
    0% {
        padding-left: 0px;
    }
    33% {
        padding-left: 50px;
    }
    50% {
        padding-left: 80px;
    }
    67% {
        padding-left: 10px;
    }
    100% {
        padding-left: 10px;
    }
}

.animated-font-left {
    animation: left 2s linear infinite;
}

@keyframes left {
    0% {
        padding-right: 0px;
    }
    33% {
        padding-right: 50px;
    }
    50% {
        padding-right: 80px;
    }
    67% {
        padding-right: 10px;
    }
    100% {
        padding-right: 10px;
    }
}


@keyframes center {
    0% {color: #a3ff6e;}
    50% {color:  #2c691a;}
    100% {color: #a3ff6e;}

}

@keyframes bigger {
    0% {
        transform: scale(1px) rotate(0deg);
    }
    50% { 
        transform: scale(3px) rotate(0deg);
    }
    100% { 
        transform: scale(1px) rotate(0deg);
    }
}

.animated-font-center {
    color: #a3ff6e;
    animation: center  2s linear infinite;
}

.animated-font-center:hover {
    animation: bigger 1s linear;
}

li {
    background-color: transparent !important;
}
li > a {
    color: white;
    text-decoration: none !important;
}

li:hover  > a{
    color: black !important;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #071a2c9c;
}
